/* font-family: 'Archivo Narrow', sans-serif; */
/* font-family: 'Chango', cursive; */

html, body {
  height: 100%;
  width: 100%;
}

.header {
  padding: 60px;
  text-align: center;
  background: #EF5447;
  color: white;
  font-size: 30px;
}

h1,h3 {
font-family: 'Chango', cursive;
font-weight: 400;  
}

h1 {
  text-align: center;
  padding: 30px;
}

h2 {
font-family: 'Archivo Narrow', sans-serif;
font-weight: 400;
font-size: 30px;  
margin-top: 120px;  
padding: 30px;    
}

h3 {
text-align: center;
font-size: 35px;  
}

p {
font-family: 'Archivo Narrow', sans-serif;
font-weight: 400;
font-size: 20px;  
padding: 15px;  
}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

 .dark-gray-background {
  background-color: #EF5447;
     width: 100%;
  height: 100vh;
}

.mynameis {
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#projectsliderbox {
  display: flex;
  justify-content: center; 
}

.slider {
  width: 100%;
  max-width: 1200px;
  height: 750px;
  position: relative;
  overflow: hidden; /* <===  */
  border-radius: 15px;
}

.slide {
  width: 100%;
  max-width: 1200px;
  height: 750px;
  position: absolute;
  transition: all 0.5s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn.btn-next, .btn.btn-prev {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: #fff;
  font-size: 18px;
}
.btn:active {
  transform: scale(1.1);
}
.btn-prev {
  top: 45%;
  left: 2%;
}

.btn-next {
  top: 45%;
  right: 2%;
}

.navbar-brand {
  margin: 30px;
}

#navbarNavAltMarkup {
  font-family: 'Archivo Narrow', sans-serif; 
}

a {
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: 800;  
}

#about-me-box {
	margin: 65px 0;
	background-color: #fff; 
	box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.2);
	display: block;
	padding: 0 25px 0 0;

  .max-width-xs  {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 600px) {
	#about-me-box {
		padding: 0 10px;
    width: 30px;

  	/*responsive helper classes*/
	.hidden-xs {
		display: none;
	}
	.max-width-xs {
	  width: 100%;
}